<ion-header>
  <ion-toolbar>
    <ion-title>Criar Imóvel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Foto</ion-label>
    <input type="file" (change)="onFileSelected($event)" />
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Endereço</ion-label>
    <ion-input [(ngModel)]="name" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Inquilino (opcional)</ion-label>
    <ion-input [(ngModel)]="tenant"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Valor do Aluguel</ion-label>
    <ion-input type="number" [(ngModel)]="rent" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Data de Vencimento</ion-label>
    <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="dueDate"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Status</ion-label>
    <ion-select [(ngModel)]="status">
      <ion-select-option value="Vazio">Vazio</ion-select-option>
      <ion-select-option value="Alugado">Alugado</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" color="success" (click)="saveProperty()" [disabled]="isUploading">
    Salvar
  </ion-button>
  <ion-button expand="block" color="medium" (click)="cancel()" [disabled]="isUploading">
    Cancelar
  </ion-button>
</ion-content>