<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>✨ Havenly Premium</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <section class="upgrade-plan">
      <div class="header-Text">
        <h2>Leve sua gestão para o próximo nível.</h2>
        <p>
          Tenha acesso a ferramentas exclusivas para maximizar seus rendimentos.
        </p>
      </div>

      <div class="plan-list">
        <div class="plan-details">
          <ion-icon name="infinite" class="check-icon"></ion-icon>
          <p>
            <strong>Imóveis Ilimitados:</strong>e quantos imóveis precisar, sem
            restrições.
          </p>
        </div>
        <div class="plan-details">
          <ion-icon name="bar-chart" class="check-icon"></ion-icon>
          <p>
            <strong>Dashboard Completo:</strong> Monitore pagamentos, avisos e
            atividades em tempo real.
          </p>
        </div>
        <div class="plan-details">
          <ion-icon name="help-buoy" class="check-icon"></ion-icon>
          <p>
            <strong>Suporte Prioritário:</strong> Receba ajuda de nossa equipe
            com prioridade.
          </p>
        </div>
      </div>

      <ion-button type="button" expand="block">
        Assinar por 19,90/mês
      </ion-button>
    </section>
  </div>
</ion-content>
