<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/security"></ion-back-button>
    </ion-buttons>
    <ion-title>Alterar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="containerPage">
  <div class="container">
    <form>
      <div class="form-group">
        <label>Senha Atual</label>
        <ion-input
          type="password"
          placeholder="Digite sua senha atual"
          name="currentPassword"
          required
        ></ion-input>
      </div>

      <div class="form-group">
        <label>Nova Senha</label>
        <ion-input
          type="password"
          placeholder="Digite a nova senha"
          name="newPassword"
          required
        ></ion-input>
      </div>

      <div class="form-group">
        <label>Confirmar Nova Senha</label>
        <ion-input
          type="password"
          placeholder="Confirme a nova senha"
          name="confirmPassword"
          required
        ></ion-input>
      </div>

      <ion-button expand="block" type="submit"> Salvar Senha </ion-button>
    </form>
  </div>
</ion-content>
