<ion-content [fullscreen]="true" id="containerPage">
  <div id="container" class="header">
    <h1>Havenly</h1>
    <p>Gerencie seus imóveis de forma simplificada.</p>
  </div>

  <div class="auth-form">
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="email"
          inputmode="email"
          autocomplete="email"
          name="email"
          [(ngModel)]="email"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input
          type="password"
          autocomplete="current-password"
          name="password"
          [(ngModel)]="password"
          required
        ></ion-input>
      </ion-item>

      <ion-button
        expand="block"
        type="submit"
        class="mt-20"
        [disabled]="loading"
      >
        <ion-spinner
          *ngIf="loading"
          name="lines-small"
          style="margin-right: 8px"
        ></ion-spinner>
        Entrar
      </ion-button>
    </form>
  </div>

  <div class="auth-links">
    <p>Ainda não tem conta?</p>
    <ion-button fill="clear" [routerLink]="['/register']"
      >Criar Conta</ion-button
    >
  </div>

  <div class="auth-links">
    <p>
      Esqueceu sua senha?
      <a [routerLink]="['/reset']">Recupere sua Senha</a>
    </p>
  </div>
</ion-content>
