<ion-content [fullscreen]="true" id="containerPage">
  <div id="container" class="header">
    <h1>Havenly</h1>
    <p>Gerencie seus imóveis de forma simplificada.</p>
  </div>

  <div class="auth-form">
    <h2>Criar Conta</h2>
    <form (ngSubmit)="onRegister()">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input
          type="text"
          inputmode="text"
          autocomplete="name"
          name="full_name"
          [(ngModel)]="full_name"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="email"
          inputmode="email"
          autocomplete="email"
          name="email"
          [(ngModel)]="email"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input
          type="password"
          inputmode="text"
          autocomplete="new-password"
          name="password"
          [(ngModel)]="password"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar Senha</ion-label>
        <ion-input
          type="password"
          autocomplete="new-password"
          name="confirm"
          [(ngModel)]="confirm"
          required
        ></ion-input>
      </ion-item>

      <ion-button
        expand="block"
        type="submit"
        class="mt-20"
        [disabled]="loading"
      >
        @if (loading) {
        <ion-spinner name="lines-small" style="margin-right: 8px"></ion-spinner>
        } Criar Conta
      </ion-button>
    </form>
  </div>

  <div class="auth-links">
    <p>Já tem conta?</p>
    <span fill="clear" routerLink="/login">Fazer Login</span>
  </div>
</ion-content>
