<ion-content class="ion-padding reset-container">
  <div class="logo">
    <h1>Havenly</h1>
    <p>Recupere sua senha</p>
  </div>

  <form (ngSubmit)="onReset()">
    <ion-item class="input-field">
      <ion-label position="floating">Email</ion-label>
      <ion-input
        [(ngModel)]="email"
        name="email"
        type="email"
        required
        autocomplete="email"
      ></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="btn-primary">
      Enviar recuperação
    </ion-button>
  </form>

  <div class="auth-links">
    <a (click)="goToLogin()">Voltar para Login</a>
  </div>
</ion-content>