ion-toolbar {
  padding: 0px 10px;

  ion-title {
    padding: 25px 25px 20px 25px;
    font-size: 20px;
    font-weight: bold;
  }
}

.container {
  padding: 20px 25px calc(10px + env(safe-area-inset-bottom)) 25px;

  form {
    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      gap: 5px;
      label {
        font-weight: 600;
        font-size: 14px;
      }
      ion-input {
        --padding-start: 10px;
        --padding-end: 10px;
        border-radius: 8px;
        height: 40px;
        border: 1px solid var(--ion-color-medium);
      }
    }

    ion-button {
      margin-top: 25px;
      --background: var(--ion-color-primary);
      --border-radius: 8px;
      --padding-start: 20px;
      --padding-end: 20px;
      --padding-top: 6px;
      --padding-bottom: 6px;
      font-weight: 600;
      color: white;
    }

    .divider {
      width: 100%;
      height: 1px;
      background-color: var(--ion-color-medium);
      margin: 20px 0;
    }

    .delete-account {
      margin-top: 50px;
      font-weight: 600;
      color: var(--ion-color-danger);
      text-align: center;
      cursor: pointer;

      &:hover {
        color: var(--ion-color-danger-tint);
      }
    }
  }
}
