<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Havenly
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Havenly</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Havenly/strong>
    <p>Havenly é uma plataforma completa para gestão de aluguéis, desenvolvida para atender proprietários que desejam controle total e profissional sobre seus imóveis, inquilinos e contratos. O sistema oferece uma interface intuitiva, recursos avançados e relatórios detalhados para facilitar a administração e tomada de decisão.</p>
  </div>
</ion-content>
